# Python
__pycache__/
*.py[cod]
*.egg-info/
build/
dist/

# Virtual environments
.venv/
venv/
env/

# IDE / editor
.vscode/
.idea/
*.swp

# OS cruft
.DS_Store
Thumbs.db

# don't upload the data folder
data/

# don't upload Trail_Run_Measurements.csv
Trail_Run_Measurements.csv
